<p>
  <h2>
  	<div class="pull-right">
  		<%= form_for(Heart.new) do |f| %>
  		<%= f.hidden_field :post_id, value: post.id %>
  		<%= f.submit "♥", class: "btn btn-danger" %>
  		<% end %>
  	</div>

  <%= link_to post.title, post %>
  </h2>
</p>

<p>
	<% if post.kind == 'image' %>
		<%= image_tag post.content, style: "width: 100%" %> 
	<% else %>
		<%= simple_format post.content %></p>
	<% end %>

<p class="text-muted">
	<small>
		Posted on <%= post.created_at.to_formatted_s(:lang) %>
	</small>

	<small class"pull-right">
		<%= post.hearts.count %> Hearts
	</small>
</p>